@media screen and (min-width: 425px) and (max-width: 768px) {
    ul.header-list, .phone-icon, .header-values-phone{
      display: none;
    }  
  
    .header-menu{
      display: flex;
      flex-direction: column;
      height: 48px;
    }

    .container-proud-projects{
      grid-template-areas: 
      "proud-header proud-header proud-header proud-header . ."
      "proud-info proud-info proud-info proud-info . ."
      "proud-list proud-list proud-list proud-list proud-list ."
      "proud-name . . . proud-more proud-more"
      "proud-desc proud-desc proud-desc proud-desc . ."
      "proud-stack proud-stack proud-stack proud-photo proud-photo proud-photo"
      "proud-ex-info proud-ex-info . proud-photo proud-photo proud-photo"
      "proud-numbers proud-numbers . proud-photo proud-photo proud-photo"
      "proud-download proud-download proud-download proud-photo proud-photo proud-photo";
     }

     .discuss-container{
      grid-template-columns: 1fr 10%;
      grid-template-areas: 
      "disc-title ."
      "disc-desc . "
      "disc-form .";
  }

     .dev-stages-container{
      display: grid;
      grid-template-columns: minmax(0, 1fr) 10%;
      grid-template-areas: 
      "dev-title ."
      "dev-analysis ."
      "dev-test ."
      "dev-design . "
      "dev-launch ."
      "dev-dev . "
      "dev-sup .";
      row-gap: 30px;
    }

    .team-container{
      margin-top: 20px;
      display: grid;
      grid-template-columns: minmax(0, 1fr) 10%;
      grid-template-areas: 
      "team-title ."
      "team-desc ."
      "team-photo ."
      "team-nums ."
      "team-info .";
      row-gap: 20px;
    }

    #team-photo-img{
      width: 600px;
      z-index: 2;
    }

    .proud-projects-photo > img{
      width: 330px;
    }

    .book-form-field{
      flex: 100%;
    }

    .book-form{
      justify-content: center;
    }

    .book-photo > img{
      width: 300px;
      height: 400px;
    }

    .faq-container{
      display: grid;
      grid-template-columns: repeat(1,minmax(0,1fr)) 10%;
      grid-template-areas: 
      "faq-title ."
      "quest3 ." 
      "quest1 ."
      "quest2 ."
      "quest4 .";
      row-gap: 30px;
      margin-bottom: 50px;
    }
    
    /* can do only hover with css */
    .header-menu:hover > .menu-panel{
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;
      height: 100%;
      top:0;
      right: 0;
      background-color: white;
    }
  
    /* can't do the same if parent needs to dissapear,
      hover outside browser window for disabling menu-panel  */
    .cross:hover ~ .menu-panel{
      display: none;
    }
  
    .introduction-container{
      width: 60%;
    }

    .introduction-details{
      width: 85%;
    }
  
    .consultation-form-text{
      width: 95%;
    }
  
    .consultation-form{
      height: fit-content;
    }
  
    .consultation-form-inputs{
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      gap: 20px;
    }
  
    .consultation-form-button{
      margin-bottom: 20px;
      width: fit-content;
      height: fit-content;
    }
  
    .dev-cycle-web-list-container{
      width: 100%;
    }
  
    .dev-cycle-mobile-list-container{
      width: 100%;
    }
  
    .industries-list-title{
      width: 65%;
    }
  
    .industries-list{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-bottom: 50px;
    }
  
  }